.default-section {
  padding: 125px 0;
  @include laptop {
    padding: 110px 0;
  }
  @include tablet {
    padding: 90px 0;
  }
  @include mobile-large {
    padding: 80px 0;
  }
  @include mobile {
    padding: 60px 0;
  }
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.35px;
}



.title > * {
  font-size: 35px;
  font-weight: 500;

  @include mobile-large {
    font-size: 32px;
  }

  @include mobile {
    font-size: 30px;
  }
}

.section-header {
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 60px;
  }

  @include mobile-large {
    margin-bottom: 50px;
  }

  @include mobile {
    margin-bottom: 40px;
  }

}

.decoration {
  font-size: 18px;
  letter-spacing: 0.36px;
  margin: 21px 0;

  @include mobile-large {
    margin: 18px 0;
  }
  @include mobile {
    margin: 16px 0;
  }

  &::before, &::after {
    content: "---------------";
  }

  &__circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 15px;
    vertical-align: middle;
  }
}

.gradient-icon {
  width: 65px;
  height: 65px;
  box-shadow: 3px 3px 0 rgba(131, 0, 255, 0.18);
  border-radius: 10px;
  display: inline-block;
  line-height: 90px;

  &--small {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    min-width: 30px;
  }

  &--little {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    line-height: 35px;
    min-width: 35px;
    transition: all .2s ease-out;
    border: 2px solid transparent;
    background-clip: padding-box;
    color: #fff;

    &:hover {
      width: 33px;
      height: 33px;
      background-image: none;
      color: #af5aff;
      background-color: transparent;
      border-color: #af5aff;
      box-shadow: none;
    }
  }
}

.feature-text {
  color: #2b353a;

  &__title {
    margin: 23px 0 21px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile-large {
      margin: 21px 0 19px;
    }

    @include mobile {
      margin: 19px 0 17px;
    }
  }

  &__text {
    line-height: 1.6;
    max-height: 104px;
    overflow: hidden;
  }
}

.customize-icon,
.support-icon,
.response-icon,
.design-icon,
.document-icon,
.features-icon,
.colors-scheme-icon {
  display: inline-block;
  background: url('../img/sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.customize-icon { background-position: -2px -0px; width: 40px; height: 39px; }
.support-icon { background-position: -2px -41px; width: 39px; height: 39px; }
.response-icon { background-position: -2px -82px; width: 38px; height: 33px; }
.design-icon { background-position: -2px -117px; width: 36px; height: 40px; }
.document-icon { background-position: -2px -159px; width: 36px; height: 30px; }
.features-icon { background-position: -2px -191px; width: 35px; height: 35px; }
.colors-scheme-icon { background-position: -2px -228px; width: 33px; height: 33px; }


.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 12px 23px;
  font-size: 14px;
  transition: all .3s ease-out;

  &--default {
    color: #af5aff;
    border-color: #b0b0b0;

    &:hover {
      background-color: #af5aff;
      background-image: linear-gradient(to right, rgba(166, 85, 242, 0.87) 0%, rgba(166, 85, 242, 0.87) 20%, rgba(255, 85, 82, 0.87) 81%, rgba(255, 85, 82, 0.87) 100%);
      border-color: transparent;
      box-shadow: 3px 3px 0 rgba(131, 0, 255, 0.18);
      background-clip: padding-box;
      color: #fff;
    }
  }
  &--gradient {
    background-color: #af5aff;
    background-image: linear-gradient(to right, rgba(166, 85, 242, 0.87) 0%, rgba(166, 85, 242, 0.87) 20%, rgba(255, 85, 82, 0.87) 81%, rgba(255, 85, 82, 0.87) 100%);
    border-color: transparent;
    box-shadow: 3px 3px 0 rgba(131, 0, 255, 0.18);
    background-clip: padding-box;
    color: #fff;

    &:hover {
      background-image: none;
      color: #af5aff;
      background-color: transparent;
      border-color: #b0b0b0;
    }
  }
}


.form-control {
  width: 100%;
  border-bottom: 1px solid #b0b0b0;
  color: #8f8f8f;
  letter-spacing: 0.8px;
  padding: 10px 0;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;

  &:focus {
    border-color: #af5aff;
  }
  &::-webkit-input-placeholder {color:#8f8f8f;}
  &::-moz-placeholder          {color:#8f8f8f;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#8f8f8f;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#8f8f8f;}
}
