.testimonial {

  &__carousel-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
  }

  &__carousel {
    width: 100%;
  }

  &__carousel-item {
    padding: 30px;
    position: relative;

    @include mobile {
      padding: 15px;
    }
  }

  &__carousel-item-inner {
    margin: auto;
    width: 554px;
    height: 237px;
    border-radius: 15px;
    box-shadow: 4px 3px 0 rgba(131, 0, 255, 0.18);
    background-color: #af5aff;
    background-image: linear-gradient(to right, rgba(166, 85, 242, 0.87) 0%, rgba(166, 85, 242, 0.87) 20%, rgba(255, 85, 82, 0.87) 81%, rgba(255, 85, 82, 0.87) 100%);
    position: relative;
    z-index: 9;
    padding: 30px 58px;

    @include tablet {
      width: 500px;
      padding: 30px;
    }

    @include mobile-large {
      width: 384px;
      padding: 20px;
    }

    @include mobile {
      width: 227px;
    }
  }

  &__carousel-item-img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 11;
  }

  &__carousel-title {
    font-size: 24px;
    font-weight: 500;
  }

  &__carousel-subtitle {
    font-size: 18px;
    margin: 14px 0 35px;

    @include mobile-large {
      margin: 10px 0 25px;
      font-size: 16px;
    }

    @include mobile {

    }
  }

  &__carousel-text {
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;

    @include mobile-large {
      font-size: 15px;
    }

    @include mobile {
      font-size: 14px;
    }
  }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    box-shadow: 3px 3px 0 rgba(131, 0, 255, 0.18);
    border-radius: 10px;
    transition: all .2s ease-out;
    color: #f55769;

    &:hover {
      background-color: #f55668;
      background-image: linear-gradient(to right, rgba(166, 85, 242, 0.87) 0%, rgba(166, 85, 242, 0.87) 20%, rgba(255, 85, 82, 0.87) 81%, rgba(255, 85, 82, 0.87) 100%);
      color: #fff;
    }

    .fas {
      font-size: 24px;
    }
  }
  .slick-next {
    right: 0;
    z-index: 20;

    .fas {
      transform: rotate(90deg);
    }
  }
  .slick-prev {
    left: 0;
    z-index: 20;

    .fas {
      transform: rotate(-90deg);
    }
  }

  .slick-initialized .slick-slide {
    padding: 30px 0;
  }
}